@import "tailwindcss";

@font-face {
  font-family: "fontA";
  src: url("../public/fonts/SB\ 어그로OTF\ M.otf") format("truetype");
}

@keyframes pop {
  0% {
    transform: translateY(0) scale(0.9);
    opacity: 0;
  }
  40% {
    transform: translateY(-20px) scale(1.05);
    opacity: 1;
  }
  70% {
    transform: translateY(0) scale(0.98);
  }
  100% {
    transform: translateY(0) scale(1);
  }
}

.animate-pop {
  animation: pop 600ms cubic-bezier(0.34, 1.56, 0.64, 1) forwards;
}
